QGroupBox {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 0.5em;
  padding-top: 2px;
}
QGroupBox::title {
  subcontrol-origin: margin;
  position: absolute;
  top: 0px;
  left: 0.5em;
  padding: 0px;
  margin: 0px;
}
QToolButton {
  padding: 1px;
}
